[package]
name = "stac"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4"
geojson = "0.22"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
log = "0.4"
url = "2"

[dev-dependencies]
assert-json-diff = "2"
